[submodule "fish.cfg"]
	path = fish.cfg
	url = https://github.com/Bowarc/fish.cfg
[submodule "wezterm.cfg"]
	path = wezterm.cfg
	url = https://github.com/Bowarc/wezterm.cfg
[submodule "helix.cfg"]
	path = helix.cfg
	url = https://github.com/Bowarc/helix.cfg
[submodule "lf.cfg"]
	path = lf.cfg
	url = https://github.com/Bowarc/lf.cfg
[submodule "nvim.cfg"]
	path = nvim.cfg
	url = https://github.com/Bowarc/nvim.cfg
[submodule "btop.cfg"]
	path = btop.cfg
	url = https://github.com/Bowarc/btop.cfg
